/* Dark Purple: #1F1F3C
Medium Purple: #A8AAD2
Light Purple: #EAEAF4
White: #FFFFFF */

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #EAEAF4;
    font-family: 'Poppins', sans-serif;
    font-size: 510%;
    margin-top: 10px;
}

input {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    height: 55px;
    margin-left: 5px;
    border: 4px solid #1F1F3C;
}

label {
    text-align: center;
    padding-left: 0;
    font-size: 30px;
    margin-right: 10px;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
}

.vertical-left {
    background-color: #1F1F3C;
    display: flex;
    justify-content: center;
    width: 20%;
}

.vertical-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

form {
    display: flex;
    align-items: center; 
    flex-direction: column;
    background-color: #A8AAD2;
    min-height: 50vh;
    min-width: 50vw;
}

.output-area {
    background-color: #EAEAF4;
    height: 50%;
    display: flex;
    padding: 30px;
}

ul {
    display: flex;
    flex-direction: inherit;
    align-items: flex-end;
    justify-content: flex-end;
    list-style-type: none;
    padding-left: 0;
    margin-right: 90px;
}

li {
    display: flex;
    align-items: center;
    margin-top: 2%;
}

#body {
    margin-top: 30px;
    height: 110px;
}

#save-button {
    width: 1212px;
    height: 110px;
    border: 4px solid #1F1F3C;
    background-color: #1F1F3C;
    color: #EAEAF4;
    font-size: 45px;
    margin-top: 15px;
}

.card {
    border: 4px solid #1F1F3C;
    background-color: #EAEAF4;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    padding: 20px;
    text-align: center;
    margin-left: 30px;
}